body {
    background: url(img/vandevweek-header.jpg) no-repeat center center fixed; 
    background-size: cover;
}

a, a:visited {
    color:#cdcdcd;
}

h1 {
    font-size:24px;
    font-weight:bold;
    font-style:italic;
    margin:0;
    padding:0;
}

h3 {
    margin:0;
    padding:0;
    font-size:18px;
    color:#3F73A1;
}

#content {
    color:#fff;
    font-family:Helvetica,sans-serif;
    margin: 20px auto;
    padding:20px;
    width:960px;
    text-align:center;
    border-radius:10px;
    background-color:#282F37;
    opacity:0.9;
}

#content p {
    font-size:14px;
}

#content .footer {
    text-align:center;
    font-size:12px;
    margin-top:10px;
}

.number {
    font-weight:bold;
    color:yellow;
}

.sidebar {
    width:320px;
    height:500px;
    background-color:#000;
    border-radius: 10px;
    padding:10px;
}

.sidebar .scroller {
    height:450px;
    overflow:scroll;
}

#leaderboard {
    float:right;
    margin-left:10px;
}

#updates {
    float:left;
    margin-right:10px;
}

#twilio {
    border-top:1px dotted;
    text-align:left;
    margin-top:20px;
}

#twilio img.logo {
    margin:0 20px 20px 0;
    float:left;
}

p.connection {
    text-align:left;
    clear:both;
    line-height:1.5em;
}

p.connection img {
    float:left;
    height:50px;
    margin:0 10px 10px 0;
}

#leaderboard table {
    width:100%;
    border-collapse:collapse;
}

#leaderboard th {
    padding:10px;
    border-bottom:1px solid;
    margin:0;
    color:#cdcdcd;
}

#leaderboard td {
    padding:10px;
}

#leaderboard .name {
    text-align:left;
}

#lightboxImage {
    height:500px;
    border:2px #fff solid;
}

.lightbox {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .8);
}

.lightbox_table {
    width:100%;
    height:100%;
}

.lightbox_table_cell {
    vertical-align:middle;
}

.poweredBy {
    text-align:center;
    background-color:#cdcdcd;
    border-radius:10px;
}

.poweredBy img {
    margin:15px;
}