<!doctype html>
<html ng-app>
<head>
    <title>Vancouver Developer Week Tag</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div id="content">
        <div id="">
            <div id="updates" class="sidebar" ng-controller="FeedController">
                <h3>Connections</h3>
                <div class="scroller">
                    <p class="connection" ng-repeat="event in feed">
                        <a href="#" ng-click="showLightbox(event.media_url)" ng-if="event.media_url">
                            <img ng-src="{{event.media_url}}" alt="tag image"/>
                        </a>
                        {{event.tagger}} tagged {{event.tagged}}.
                    </p>
                </div>
            </div>
            <div id="leaderboard" class="sidebar" ng-controller="LeaderboardController">
                <h3>Leaderboard</h3>
                <div class="scroller">
                    <table>
                        <tr>
                            <th class="name">Name</th>
                            <th>Connections</th>
                        </tr>
                        <tr ng-repeat="leader in leaders">
                            <td class="name">{{leader.nick}}</td>
                            <td>{{leader.total_tags}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <a href="http://vancouver.devweek.org">
                <img src="/img/vandevweek.png" alt="Vancouver Dev Week"/>
            </a>
            <p>November 11-17, 2013</p>
            <h1>Play DevWeek Tag!</h1>
            <p>(1) Text <span class="number">+1 (604) 256-5585</span> to receive your unique player code.</p>
            <p>(2) Introduce yourself to someone new, and ask if they are playing DevWeek Tag. If they are, text their player code to <span class="number">+1 (604) 256-5585</span>. 
            </p>
            <p>(2.5) If you have a Canadian mobile phone, take a picture of your new friend and include it in your message!</p>
            <p>(3) Every connection you make earns points for both you and your new friend. The player with the most points by the end of VDW will earn a fabulous prize, furnished by Google Cloud.</p>
            <div id="twilio">
                <p class="footer">
                    <a href="http://vancouver.devweek.org">Vancouver Developer Week</a> Tag is powered by these amazing sponsors:
                </p>
                <img class="logo" src="/img/twilio-white.png" alt="Twilio MMS Available in Canada"/>
                <p>
                    Hey! Did you know that in Canada only, you can now use Twilio
                    to <a href="https://www.twilio.com/mms">send and receive 
                    picture messages via MMS</a>? It's true! Send customers a
                    picture of new items, receive pictures from mobile workers,
                    or issue tickets to an event without a smartphone app to install.
                </p>
                <p>
                    A picture really is worth 1,000 words - start hacking with
                    <a href="https://www.twilio.com/mms">Twilio picture messaging</a>
                    on Canadian numbers today!
                </p>
                <p class="poweredBy">
                    <a href="http://www.firebase.com">
                        <img src="/img/firebase.png" alt="Powered By Firebase"/>
                    </a>
                    <a href="http://cloud.google.com">
                        <img src="/img/google-cloud.png" alt="Powered By Google Cloud"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div id="lightbox" style="display:none;" class="lightbox"
        onclick="document.getElementById('lightbox').style.display='none';">
        <table class="lightbox_table">
            <tr>
                <td class="lightbox_table_cell" align="center">
                    <img id="lightboxImage" src="" alt="lightbox image"/>
                </td>
            </tr>
        </table>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="/app.js"></script>
</body>
</html>